{% extends "adminlayout.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Admin Dashboard</h1>
            <nav aria-label="breadcrumb animated slideInDown">
               
            </nav>
        </div>
    </div>
    <!-- Page Header End -->
<h3 class="text-center text-primary">Welcome Admin</h3>
<p class="text-center">Use the menu above to manage members.</p>
{% endblock %}
